.appCard {
    margin-bottom: 2rem;
    /*border: #282c34;
    border-style: solid !important;
    border-width: 1px !important;*/
    box-shadow: 0 5px 5px rgba(0,0,0,0.50), 0 5px 5px rgba(0,0,0,0.50);
}

.btn-primary {
    color: #000;
    background-color: #61dafb;
    border-color: #61dafb;
    margin: 4px;
    display: inline-block;
    width: 120px;
    height: 40px;
}

.btn-primary:hover {
    color: #61dafb;
    background-color: #2C3037;
    box-shadow: 1px 1px 1px #61dafb;
    border-color: #61dafb;
}

.card-header {
    background-color: #282c34;
    color: #fff; 
}

.card-footer {
    background-color: #282c34;
    color: #fff;
}